In [8]:
import boto3
import pandas as pd
from io import StringIO

In [3]:
arg_date='2022-09-01'
src_format='%Y-%m-%d'
bucket_name='radek-xetra-1234'
init_key_name='2022-01-07/2022-01-07_BINS_XETR22.csv'
prefix='2022-09-01'
Final_columns=['ISIN', 'Date', 'Time', 'StartPrice', 'MaxPrice', 'MinPrice', 'EndPrice', 'TradedVolume']
    
#Init
s3=boto3.resource('s3')
bucket=s3.Bucket(bucket_name)

In [5]:
bucket.put_object(Key=prefix+'/')

s3.Object(bucket_name='radek-xetra-1234', key='2022-09-01/')

In [6]:
bucket.put_object({Key:prefix+'/',
                   Key:'2022-09-02/',
                   Key:'2022-09-03/'})

NameError: name 'Key' is not defined

In [13]:
data_frame=pd.DataFrame(columns=Final_columns);
csv_file=StringIO()
data_frame.to_csv(csv_file,index=False)

In [18]:
bucket.put_object(Body=csv_file.getvalue(), Key=prefix+'/'+'first_csv_file.csv')

s3.Object(bucket_name='radek-xetra-1234', key='2022-09-01/first_csv_file.csv')

In [24]:
columns_src = ['ISIN', 'Mnemonic', 'Date', 'Time', 'StartPrice',
        'EndPrice', 'MinPrice', 'MaxPrice', 'TradedVolume']
data = [['AT111111', 'SANT', '2022-09-02', '12:00', 20.19, 18.45, 18.20, 20.33, 877],
                ['AT222222', 'SANT', '2022-09-02', '15:00', 18.27, 21.19, 18.27, 21.34, 987],
                ['AT111111', 'SANT', '2022-09-03', '13:00', 20.21, 18.27, 18.21, 20.42, 633],
                ['AT111111', 'SANT', '2022-09-03', '14:00', 18.27, 21.19, 18.27, 21.34, 455],
                ['AT111111', 'SANT', '2022-09-04', '07:00', 20.58, 19.27, 18.89, 20.58, 9066],
                ['AT222222', 'SANT', '2022-09-04', '08:00', 19.27, 21.14, 19.27, 21.14, 1220],
                ['AT222222', 'SANT', '2022-09-05', '07:00', 23.58, 23.58, 23.58, 23.58, 1035],
                ['AT222222', 'SANT', '2022-09-05', '08:00', 23.58, 24.22, 23.31, 24.34, 1028],
                ['AT222222', 'SANT', '2022-09-05', '09:00', 24.22, 22.21, 22.21, 25.01, 1523]]
columns_report = ['ISIN', 'Date', 'opening_price_eur', 'closing_price_eur',
        'minimum_price_eur', 'maximum_price_eur', 'daily_traded_volume', 'change_prev_closing_%']

In [21]:
data_frame_src=pd.DataFrame(data, columns=columns_src)

In [22]:
data_frame_src

,ISIN,Mnemonic,Date,Time,StartPrice,EndPrice,MinPrice,MaxPrice,TradedVolume
0,AT111111,SANT,2022-09-02,12:00,20.19,18.45,18.20,20.33,877
1,AT222222,SANT,2022-09-02,15:00,18.27,21.19,18.27,21.34,987
2,AT111111,SANT,2022-09-03,13:00,20.21,18.27,18.21,20.42,633
3,AT111111,SANT,2022-09-03,14:00,18.27,21.19,18.27,21.34,455
4,AT111111,SANT,2022-09-04,07:00,20.58,19.27,18.89,20.58,9066
5,AT222222,SANT,2022-09-04,08:00,19.27,21.14,19.27,21.14,1220
6,AT222222,SANT,2022-09-05,07:00,23.58,23.58,23.58,23.58,1035
7,AT222222,SANT,2022-09-05,08:00,23.58,24.22,23.31,24.34,1028
8,AT222222,SANT,2022-09-05,09:00,24.22,22.21,22.21,25.01,1523

In [27]:
def transform_report1(df_obj,start_date,column_list):
    #part of code to select only required columns
    df_obj=df_obj.loc[:,column_list]
    df_obj.dropna(inplace=True)
    df_obj['opening_price']=df_obj.sort_values(by=['Time']).groupby(['ISIN','Date'])['StartPrice'].transform('first')
    df_obj['closing_price']=df_obj.sort_values(by=['Time']).groupby(['ISIN','Date'])['EndPrice'].transform('last')
    df_obj=df_obj.groupby(['ISIN','Date'], as_index=False).agg(opening_price_eur=('opening_price','min'), closing_price_eur=('closing_price','max'),
                                                           minimum_price_eur=('MinPrice','min'), maximum_price_eur=('MaxPrice','max'), daily_traded_volume=('TradedVolume','sum'))
    #percent change prev closing
    df_obj['prev_closing_price']=df_obj.sort_values(by=['Date']).groupby(['ISIN'])['closing_price_eur'].shift(1)
    df_obj['change_vs_prior_day']=(df_obj['closing_price_eur']-df_obj['prev_closing_price'])/df_obj['prev_closing_price']*100
    df_obj.drop(columns=['prev_closing_price'],inplace=True)
    df_obj=df_obj.round(decimals=2)
    
    #filtering
    df_obj=df_obj[df_obj.Date>=start_date]
    return df_obj

In [28]:
df_repor=transform_report1(data_frame_src, '2022-09-03',columns_src)

In [29]:
df_repor

,ISIN,Date,opening_price_eur,closing_price_eur,minimum_price_eur,maximum_price_eur,daily_traded_volume,change_vs_prior_day
1,AT111111,2022-09-03,20.21,21.19,18.21,21.34,1088,14.85
2,AT111111,2022-09-04,20.58,19.27,18.89,20.58,9066,-9.06
4,AT222222,2022-09-04,19.27,21.14,19.27,21.14,1220,-0.24
5,AT222222,2022-09-05,23.58,22.21,22.21,25.01,3586,5.06